.wrapper {
  position: relative;
  overflow: hidden;
  background: black;
  height: 90vh;
  z-index: 0;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  //cursor: grab;
  &:active {
    //cursor: grabbing;
  }
}

.img {
  //aspect-ratio: 16 / 9;
  height: 90vh;
  //position: absolute;
  width: 100vw;
  flex-shrink: 0;
  object-fit: cover;

  display: flex;
  justify-content: center;
  align-items: center;

}

.dots {
  margin-top: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5px;
}

.dot {
  height: 3px;
  border: none;
  //padding: 5px 10px;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.4s ease, width 0.4s ease;
  &:hover {
    background-color: white;
  }
}

.petal {
  position: absolute;
  height: 39px;
  width: 22px;
  top: 50%;
  right: 1vw;
  cursor: pointer;
  z-index: 300;
  pointer-events: unset;
  padding: 20px;
}


.text {
  position: absolute;
  height: 30%;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  z-index: 300;
  left: 45%;
  //width: 1000px;
  top: 45%;
  gap: 20px;
  h1, p, a {
    color: white;
    text-align: center;
  }

  h1 {
    font-size: 34px;
  }

  p {
    font-size: 21px;
  }

  a {
    border: 1px white solid;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: all .2s ease-in-out;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.text {
  position: absolute;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 300;
  left: 50%; /* Центрирование текста */
  top: 50%;
  transform: translate(-50%, -50%); /* Центрирование текста */
  //gap: 10px;


  h1 {
    font-size: 34px;
  }

  p {
    font-size: 21px;
  }

  a {
    border: 1px white solid;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: all .2s ease-in-out;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
.filials {
  position: absolute;
  bottom: 0;
}
.lineLeft, .lineRight {
  background-color: white;
  height: 2px;
  width: 0; /* Начальная ширина 0, анимация до 200px */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.lineLeft {
  right: 100%;
  transform-origin: left; /* Анимация ширины с левого края */
}

.lineRight {
  left: 100%;
  transform-origin: right; /* Анимация ширины с правого края */
}
