/* Обнуляющие стили */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset для старых браузеров */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
    font-family: 'TT Nooks';
    src: local('TT Nooks Regular'), local('TTNormsPro-Regular'),
    url('../static/fonts/TTNooks/TTNooksScript-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: local('TT NormsPro Script Bold'), local('TTNormsPro-Regular'),
    url('../static/fonts/TTNorms/TTNormsPro-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

h4, h5, h6, p {
    font-family: 'TT Norms', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #53565A;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'TT Norms', sans-serif;

}

h1, h2, h3 {
    font-family: 'TT Nooks', sans-serif;
    text-transform: uppercase;

    color: #54565A;
}
h1 {
    font-size: 28px;
    font-weight: 300;
    height: 26px;
}

h4 {
    font-size: 21px;
}

img {
    pointer-events: none;
}