

.wrapper {

}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1.7em 0;
  align-items: baseline;
}

.body {
  display: flex;
  a {
    margin: 0 .7em;
    &:first-child {
      margin: 0 .7em 0 0;
    }
    &:last-child {
      margin: 0  0 0 .7em;
    }
  }
}

.sectionGroups {
  display: flex;
}

.sectionTitle {
  font-size: 28px;
  cursor: pointer;

  font-weight: bold;
  color: #b0b1b3;
  &:first-child {
    margin-left: 0;
  }
  margin: 0 .25em;

  transition: color 0.2s ease-in-out;
}