.wrapper {
  flex-grow: 0;
  //background-color: white;
  width: 250px;
  color: #52565A;
  display: flex;
  cursor: pointer;
}

.content {
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.imageWrapper {
  width: 70%;
  height: 30%;
  overflow: hidden;
  display: flex; /* Используем flexbox для выравнивания содержимого */
  justify-content: center; /* Центрирование содержимого по горизонтали */
  align-items: center; /* Центрирование содержимого по вертикали */
  img {
    width: 280px;
    height: auto;
  }
}

.text {
  h4 {
    height: fit-content;
    margin-bottom: 1px;
  }
}